*{
    padding: 0;
    margin: 0;
    border:0;
}

.pg.secao {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 80%;
    margin: 20px auto;
  }

.secao {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #C4CAAF;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
}

.secao.vendas{
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 2.7rem;
    margin: 3rem auto;
}
