.cabecalho {
  margin-bottom: 25px;
}

.containerTabela {
  width: 50%;
  height: auto;
  margin: 50px auto 0 auto;
}

.imagemProduto {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.itemTabela {
  vertical-align: middle;
}
