
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #C4CAAF;
    justify-content: center;
    width: 100%;
    height: auto;
}
.container.produtos {
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 2.7rem;
    margin-top: 3rem;
    margin-bottom: 4.5rem;
}
.botao-editar:hover{
    background-color: #C4CAAF;
    border-radius: 50%;
    padding: 6px;
    }