/* 
Fontes da logo:
 font-family: "Squada One", cursive;
 font-family: "Homemade Apple", cursive;
 font-family: "Exo", sans-serif;


Para usar as cores da paleta, declarar assim como o exemplo:
background-color: var(--verde-secundario);
*/
:root {
  --verde-primario: #36a23f;
  --verde-secundario: #c4caaf;
  --verde-apoio: #4a5926;
  --laranja-primario: #f59b16;
  --laranja-secundario: #d06618;
  --marrom-apoio: #521e12;
}

* {
  box-sizing: border-box;
}

h1 {
  color: var(--marrom-apoio);
  font-family: "Squada One", cursive;
  font-weight: lighter;
  font-size: 30pt;
}

h3 {
  font-family: "Exo", sans-serif;
}

.pg-background {
  display: flex;
  justify-content: center;
}

.pg-container {
  background-color: var(--verde-secundario);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 20px;
  border-radius: 10px;
  padding: 20px;
}
.tb-container {
  background-color: white;
  width: 80%;
  height: 500px;
  margin: 20px;
}
