body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title-produto {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
  width: 600px;
  font-family: 'Squada One';
  color: #521e12;
  font-size: 2.2rem;
  padding: 20px;
}

.form-produto {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
  width: 600px;
}

.form-produto img {
  align-self: center;
  border-radius: 50%;
}

.form-action {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

/* background: #c4caaf; */
